:root {
  /* ====== color ====== */
  --main-grey: #eeeeee;
  --main-grey-dark: #dedede;
  --blue-grey: #3a4750;
  --blue-grey-dark: #303841;
  --red: #d72323;
}

@font-face {
  font-family: "NexonGothic";
  src: url("/assets/font/NEXON_Gothic.woff") format("woff"),
    url("/assets/font/NEXON_Gothic.otf") format("otf"),
    url("/assets/font/NEXON_Gothic.ttf") format("tff");
}

* {
  font-family: "NexonGothic";
}

.hidden {
  display: none;
}

html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #fff;
}

/* ===== header ====== */
.header {
  position: sticky;
  display: block;
  width: 100%;
  height: 5%;
  margin-bottom: 8%;
}
.header__container {
  background: var(--main-grey-dark);
  width: 100%;
  height: 100%;
  padding-top: 2.5%;
}
.header__icon {
  font-size: 180%;
}

#header-menu {
  position: relative;
  left: 2%;
}
#header-search {
  position: relative;
  float: right;
  right: 5%;
}
#header-alarm {
  position: relative;
  float: right;
  right: 3%;
}
/* ====== main section ====== */
.main__container {
  width: 100%;
  height: 94%;
}

/* ====== My Game ====== */

.myGame__container {
  display: flex;
  width: 100%;
  height: 38%;
  justify-content: center;
}

#myGame-Icon {
  color: #ffff00;
  margin-right: 1%;
}
.myGameTitle__container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-grey-dark);
  color: var(--blue-grey);
  width: 75%;
  height: 10%;
  border-radius: 10px;
  margin-bottom: 5%;
}

.myGameTitle__container span {
  font-weight: 600;
}

.myGameBackLine {
  position: absolute;
  top: 18%;
  background: var(--blue-grey);
  width: 100%;
  height: 18%;
}

.myGameList__container {
  position: absolute;
  top: 13%;
  z-index: 5;
  width: 80%;
  height: 30%;
  border-radius: 20px;
}
.myGameListWrapper {
  width: 100%;
  height: 100%;
}
.myGameList {
  display: grid;
  column-gap: 5%;
  row-gap: 5%;
  grid-template-columns: 40% 40%;
  grid-template-rows: 40% 40%;
  background: var(--main-grey);
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding-top: 5%;
  padding-left: 12%;
}

div[id^="myGame"] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 90%;
  position: relative;
  background: var(--main-grey-dark);
  border-radius: 20px;
}

.myGameImg {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

/* ====== GameList swiper ====== */
.swiper-pagination-bullet-active {
  background-color: var(--red);
}

/* ====== Game Board ====== */

.gameBoard__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 390px;
  background: var(--main-grey);
  margin-top: 10%;
  overflow: hidden;
}

.gameBoardTitle__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 40px;
  color: var(--blue-grey);
  background: var(--main-grey-dark);
  border-radius: 10px;
  margin-top: 4%;
}
.gameBoardTitle__container span {
  font-weight: 600;
}

#gameBoardTitle-icon {
  font-size: 120%;
  margin-right: 1%;
}

/* 게시판 창 늘림 */
.gameBoardBtn__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -14px;
  margin: auto;
  width: 30px;
  height: 30px;
  background: var(--main-grey-dark);
  border-radius: 50%;
}

#gameBoardBtn {
  font-size: 12px;
}

/* ====== game article ====== */

.gameBoardArticle__container {
  display: block;
  justify-content: center;
  width: 80%;
  height: 280px;
  margin-top: 5%;
}

.gameArticle__container {
  display: block;
  margin-bottom: 20px;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid var(--main-grey-dark);
  padding-bottom: 3px;
}

.gameArticle {
  display: flex;
  width: 100%;
  height: 38px;
}

.gameArticleData {
  width: 100%;
}

#gameArticle-img {
  width: 28px;
  height: 28px;
  border-radius: 10px;
  margin-right: 5%;
}

.gameArticleData1 {
  display: flex;
}

#articleName {
  font-weight: bold;
  margin-right: 5%;
}
#commentIcon {
  font-size: 90%;
  margin-right: 1%;
}
#commentCount {
  font-size: 80%;
}

.gameArticleData2 {
  display: flex;
  align-items: initial;
  margin-top: 2%;
}

#article-gameName {
  font-size: 85%;
  font-weight: bold;
  margin-right: 3%;
}

#article-userLevel {
  font-size: 85%;
  margin-right: 2%;
}
#article-userName {
  font-size: 85%;
  margin-right: 5%;
}

#hitsIcon {
  font-size: 90%;
  margin-right: 1%;
}
#hitsCount {
  font-size: 90%;
}
