:root {
  /* ====== color ====== */
  --main-grey: #eeeeee;
  --main-grey-dark: #dedede;
  --blue-grey: #3a4750;
  --blue-grey-dark: #303841;
  --red: #d72323;
}

@font-face {
  font-family: NexonGothic;
  src: url("/assets/font/NEXON_Gothic.woff") format("woff");
  src: url("/assets/font/NEXON_Gothic.otf") format("otf");
  src: url("/assets/font/NEXON_Gothic.ttf") format("tff");
}

* {
  font-family: NexonGothic;
}

html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #fff;
}

/* ===== header ====== */
.header {
  position: sticky;
  display: block;
  width: 100%;
  height: 6%;
  margin-top: 2.5%;
}
.header__container {
  width: 100%;
  height: 100%;
}
.header__icon {
  font-size: 180%;
}

#header-menu {
  position: relative;
  left: 2%;
}
#header-search {
  position: relative;
  float: right;
  right: 5%;
}
#header-alarm {
  position: relative;
  float: right;
  right: 3%;
}
/* ====== main section ====== */
.main__container {
  width: 100%;
  height: 94%;
}

/* ====== My Game ====== */

.myGame__container {
  display: flex;
  width: 100%;
  height: 38%;
  justify-content: center;
}
.myGameTitle__container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-grey-dark);
  width: 75%;
  height: 10%;
  border-radius: 10px;
}

#myGameIcon {
  color: #ffff00;
}

.myGameBackLine {
  position: absolute;
  top: 18%;
  background: var(--blue-grey);
  width: 100%;
  height: 18%;
}

.myGameList__container {
  position: absolute;
  top: 13%;
  z-index: 5;
  width: 80%;
  height: 30%;
  border-radius: 20px;
}

.myGameList {
  background: var(--main-grey);
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.swiper-pagination-bullet-active {
  background-color: var(--red);
}
